@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  @apply bg-black-adam;
}

dialog {
  width: min(45rem, 90%);
}

::-webkit-scrollbar {
  @apply w-4;
}

::-webkit-scrollbar-track {
  @apply bg-grey-chat;
  @apply rounded-3xl
}

::-webkit-scrollbar-thumb {
  @apply bg-white;
  @apply rounded-2xl
}

@layer components {
  .divider {
    @apply flex;
    @apply items-center;
    @apply text-lg;
    @apply font-semibold;
    @apply tracking-wide;
  }

  .divider::after {
    @apply ml-4
  }
  .divider::before {
    @apply mr-4
  }

  .divider::after,
  .divider::before {
    content: '';
    @apply flex-grow;
    @apply h-[0.125rem];
    @apply bg-gray-700/50;

  }
  .chat-msg::before {
    content: '';
    @apply absolute;
    @apply size-5;
    @apply bottom-0;
    @apply -left-[16px];
    @apply bg-grey-chat;
    clip-path: polygon(25px 30px, 0px 30px, 25px 0px);
  }

  .neon span {
    -webkit-text-stroke: 0.0667rem var(--color);
    transition: 0.5s;
  }

  .neon div.neon-letter:hover span {
    @apply opacity-0;
  }

  .neon div.neon-letter::before {
    content: attr(data-text);
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-0;
    @apply font-bold;
    @apply overflow-hidden;
    transition: 0.5s ease-in-out;
    @apply text-center;
    color: var(--color);
  }

  .neon div.neon-letter:hover::before {
    @apply h-full;
    filter: drop-shadow(0 0 2rem var(--color));
  }
}
